@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");


:root {
     --primary-color: #003C43; 
     /* --primary-color: #e4f5f7; */
    --secondary-color:#135D66;
    --color: #defdf8;
    --testcolor: rgba(255, 86, 8, 0.178);
    --tershary-color:#77B0AA;
    --complementary-color: #FF5F15;

    --accent-color: #3f83f8;
    --text-color: #333333;
    /* --background-color: #ffffff; */
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
    --link-color: #6365F2;
    --background-color:rgb(224, 233 ,240,0.6);
    --main: #e1f3ee;
    
}




/* 
:root {
    --borderradious: 10px;
    --background: rgb(58, 145, 245);
    --color: #fff;
    --hover: blue;
} */


.btn1 {
    font-weight: 550;
    border-radius:10px;
    background-color: var(--complementary-color);
    color: var(--main);
    border: none;
    padding: 15px 12px;
    cursor: pointer;
    font-size: 15px;
}

.btn2{
    font-weight: 550;
    border-radius:10px;
    background-color:var(--primary-color) ;
    color: var(--main);
    border: none;
    padding: 15px 12px;
    cursor: pointer; 
    font-size: 15px;

}

.btn3{
    font-weight: 550;
    background-color:var(--color) ;
    color:black;
    border: none;
    padding: 5px 8px;
    cursor: pointer; 
    font-size: 15px;  
    border-radius: 10px;
}

.btn4{
    font-weight: 550;
    background-color:var(--secondary-color) ;
    color: var(--main);
    padding: 5px 8px;
    cursor: pointer; 
    font-size: 15px;  
    border-radius: 10px;
}



body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the entire page */
    
}
