@import url('../css//common.css');

.livebtn {
   color: black;
   background:none;
   font-size: 18px;
   font-weight: bold;
   padding: 14px;
   cursor: pointer;
   border: none;
}


.livebtn.active {
  border: none;
  background-color: var(--primary-color);
  padding: 14px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}










table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tbody td {
  border: 1px solid #dddddd;
  padding: 8px;
}

tbody td input[type="date"],
tbody td input[type="text"] {
  width: 100%;
  margin: 10px;
  border: 1px solid var(--primary-color);
}


/* Assuming this CSS is part of your component's stylesheet or styled-components */
.msgs-container {
  margin-top: 20px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.message p {
  margin: 0;
}

.message p strong {
  font-weight: bold;
color:var(--primary-color)
  /* color: #333; */
}

.message p span {
  font-size: 12px;
  color: #666; /* Lighter text color */
}

/* cards */
.live-ordersCards-container{
  /* padding: 20px;
  margin: 10px; */
  display: grid;
  grid-template-columns:repeat(8, 1fr) !important ;
  grid-template-rows: repeat(10, 1fr)!important ;
  gap: 15px;

}

.live-ordersCards-all{
  border: 3px solid var(--tershary-color); 
  border-radius: 10px;
}
.live-orderCards-btns{
  display: flex; 
  flex-direction: row;
  /* gap: 40px ; */
}

.confirmOrdersCards-container{
 /* padding: 20px;
  margin: 10px;  */
  display: grid;
  grid-template-columns: repeat(6, 1fr)!important; 
   grid-template-rows: repeat(6,1fr)!important; 
   gap: 20px

}

.confirmOrdersCards-all{
  border: 3px solid var(--tershary-color);
   border-radius: 10px 
}

.cnfm-order-btn{
  display: flex;
   flex-direction: row;
    gap: 40px
}
.vl{
  border-left: 3px solid gray;
  height: auto;
}

.live-order-container{
  overflow-y: auto;
}


@media only screen and (max-width: 902px){
  .live-ordersCards-container{
    /* padding: 20px;
    margin: 10px; */
    display: grid!important;
    grid-template-columns:repeat(4, 0.06fr) !important ;
    grid-template-rows: repeat(10, 0.006fr)!important ;
    gap: 15px
  }
  
  .live-ordersCards-all{
    border: 3px solid var(--tershary-color); 
    border-radius: 10px;
  }
  .live-orderCards-btns{
    display: flex; 
    flex-direction: row;
    /* gap: 40px ; */
  }
  
  .confirmOrdersCards-container{
   /* padding: 20px;
    margin: 10px;  */
    display: grid !important;
    grid-template-columns: repeat(6,1fr)!important; 
     grid-template-rows: repeat(10,1fr)!important; 
     gap: 20px
  }
  
  .confirmOrdersCards-all{
    border: 3px solid var(--tershary-color);
     border-radius: 10px 
  }
  
  .cnfm-order-btn{
    display: flex;
     flex-direction: row;
      gap: 40px
  }
  

}