/* .loomregister-container {

} */

.loom-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: "leftlogo logingpage";
    margin: 50px;
    padding: 0px;
    height: 80vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    height: 100vh;
    grid-area: 'leftlogo';
}

.registration-login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* grid-area: 'logingpage'; */
    background-color: var(--background-color);
    border-radius: 20px;
}

.logo-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: url('../image/login.webp') no-repeat center center/cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
}

.logo-registration img {
    max-width: 100%;
    /* max-height: 800px; */
    background: rgba(0, 0, 0, 0.6);
}

.logo-registration::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.login-form h2 {
    text-align: center;
}

input[type=text] {
    width: 100%;
    margin-top: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.login-form>div {
    width: 100%;
    max-width: 95%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.loom-btn {
    display: flex;
    gap: 20px
}




@media only screen and (max-width: 902px) {
    .loom-login {
        display: grid;
        grid-template-columns: 1fr;
        grid-area: "logingpage";
        margin: 50px;
        padding: 0px;
        height: 80vh;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
   .logo-registration{
    display: none;
   }
}