.my_enquiries-container{
    border:'1px solid red';
    display: grid;
}

.my_enquiries-card{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     background: #fff;
     cursor: pointer;
}
.my_enquiries-card p{
 color: var(--primary-color);
 font-weight: bold;

}

.myenquiryoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .myenquiryoverlay-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 530px;
  }

  @media only screen and (max-width: 902px) {

    .my_enquiries-container {
        display: grid !important;
        grid-template-columns: repeat(6, 1fr) !important;
        grid-template-rows: repeat(9, 1fr) !important;}
  }
  