.loom-profile {
    /* display: grid; */
    /* grid-template-columns: 6fr 2fr; */
    height: 80vh;
}

.profile-loom-compamyinfo-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Lprofile-company-info {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;
    width: calc(66%)
}

.Lprofile-contact-info{
    position: absolute;
     top: 30px;
     right: 30px;
     z-index:  10;
     width: calc(37% - 60px) 
}

.loom-profile-myloom{
margin: 30px;
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
 background: #fff;
 width: calc(35% )
}

.loom-profileMyloom-all{
    display:flex;
}

@media only screen and (max-width: 902px) {
    .profile-loom-compamyinfo-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Lprofile-company-info {
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 10;
        width: calc(65%);
      
       
    }
    
    .Lprofile-contact-info{
        position: absolute;
         top: 50px;
         right: 0px;
         z-index:  10;
         width: calc(50% - 80px) 
    }
    .loom-profileMyloom-all{
        display:flex;
        width: calc(95% );
    }
    .loom-profile-myloom{
    margin: 30px;
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
     background: #fff;
     
   
    }
    

}